.product-container{
    background-image: url("../../assets/Vector\ 1.png");
    object-fit: contain;
}
.product-section{
    height: 170vh;
}
@media (max-width:850px) {
    .product-section{
        height: 300vh;
    }
    .product-wrapper{
        top: 650px;
    }
}
@media (max-width:650px) {
    .product-section{
        height: 550vh;
    }
    .product-wrapper{
        top: 1800px;
    }
}
.custom-card {
    height: 100%;
    background: #fafcfc;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    border: none;
}
  
.card-img{
    height: 300px;
    object-fit: contain;
}
.price{
    padding-bottom: 10px;
}
.buy-button{
    padding: 10px 40px;
    border: 3px solid #72c0f5;
    border-radius: 10px;
    color: #72c0f5;
    font-size: large;
}
.buy-button:hover{
    background: linear-gradient(to right, #74caec, #6fb5fe);
    color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}